.header {
  color: white;
  background-color: black;
  text-align: center;
  
}

main {
  text-align: center;
  margin: 10%;

}

.footer {
  color:white;
  background-color: black;
  text-align: center;
  padding: 30px;
}

h3 {
  background-color: rgb(202, 202, 202);
}
